:root {
    box-sizing  : border-box;
}

*,
*::before,
*::after {
    box-sizing  : inherit;
}

body {
    height     : 100vh;
    max-width  : 1080px;
    margin     : 0 auto;

    font-size                : calc(1rem + 0.4vw);
    font-family              : Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing   : antialiased;
    -moz-osx-font-smoothing  : grayscale;
    text-align               : center;
    color                    : #2c3e50;
}

#app {
    display         : flex;
    flex-direction  : column;

    height  : 100%;
}

header,
footer {
    height  : 3em;
}

main {
    flex  : 1;
}